.headerleft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}
.headerleftlg{
  font-size: 20px;
  display: none;
}
.headerright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 0.5rem;
}

.headers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid grey
}
.search{
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 0.5px solid rgb(179, 178, 178);
  font-size: 16px;
}
#left{
  text-decoration: none;
  color: black;
}
#bottomtags{
  text-decoration: none;
  color: rgb(41, 41, 41);
  gap: 1rem;
}
.headerbottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  display: none;
}
#user{
  display: none;
}
#search{
  display: none;
}
#mainimage{
  width: 100%;
  height: auto;
}
.mainpicture{
  position: relative;
}
.mainpicture .btn{
   position: absolute;
   top: 75%;
   left: 16%;
   width: 7rem;
   background-color: black;
   color: white;
   padding: 0.3rem 0.3rem;
   border: none;
   cursor: pointer;
   border-radius: 0.3rem;
   
}
.mainpicture #quote{
  position: absolute;
  top: 40%;
  left: 13%;
  color: white;
  width: 10rem;
  font-size: large;
}
#brandleft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  color:rgb(239, 119, 119);
}
#brandright{
  color: rgb(144, 42, 42) ;
}
#puma{
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

#adidas{
  width: 100%;
  height: auto;
}
#containerbrand{
  width: 100%;
  max-width: 1400px;
  padding: 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

}
.footerfirst{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 0.5rem;
}
.footerfirst a{
  text-decoration: none;
  color: white;
  
}


.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  padding: 1rem 1rem;
  gap: 5rem;
  font-size: 10px;

}

.cartbutton{
  position: relative;
}
#cartcount{
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: white;
   font-size: 0.65rem;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
  /* Your styles for small screens go here */
  .mainpicture .btn{
      top: 70%;
      font-size: 14px;
  }
  .mainpicture #quote{
      top: 40%;
      width: 13rem;
      font-size: 20px;
  }
  #brandleft{
      font-size: 1.8rem;
  }
  .footer{
      font-size: 15px;
     gap: 10rem;
  }
  .mainpicture .btn{
    width: 9rem;
  }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
  /* Your styles for medium screens go here */
  .headercentre h3{
      font-size: 25px;
  }
  #menubutton{
      display: none;
  }
  .headerleftlg{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
  }
  #container{
      width: 100%;
  max-width: 1400px;
  padding: 0.5rem;
  margin: 0 auto;

  }
  .headerbottom{
      display: flex;
  }
  .headers {
      border-bottom: none;
  }
  .mainpicture .btn{
      top: 70%;
      left: 15%;
      font-size: 14px;
  }
  .mainpicture #quote{
      top: 40%;
      width: 20rem;
      font-size: 25px;
  }
  #brandleft{
      font-size: 2rem;
  }
  .footer{
      font-size: 15px;
      gap: 17rem;
  }
  .mainpicture .btn{
    width: 8rem;
  }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
  /* Your styles for large screens go here */
#user{
  display: flex;
}
#search{
  display: flex;
}
.mainpicture .btn{
  top: 65%;
  left: 14%;
  font-size: 20px;
}
.mainpicture #quote{
  top: 35%;
  width: 30rem;
  font-size: 35px;
}
#brandleft{
  font-size: 2.2rem;
}
.footer{
  font-size: 17px;
  gap: 30rem;
}
.mainpicture .btn{
  width: 10rem;
}
}
/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
  /* Your styles for extra large screens go here */
  .mainpicture .btn{
      top: 60%;
      left: 14%;
      font-size: 20px;
      
  }
  .mainpicture #quote{
      top: 45%;
      width: 50rem;
      font-size: 35px;
  }
  #brandleft{
      font-size: 2.5rem;
  }
  .footer{
      font-size: 17px;
      gap: 70rem;
  }
  .mainpicture .btn{
    width: 13rem;
  }
}
